@import "./font.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: SF Pro, PingFang SC, Helvetica, Roboto, Open Sans, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-width: 1280px;
}

::selection {
  color: #fff;
  background: var(--chakra-colors-primary-900);
}
