name: Build

on: [pull_request, push]


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.5.0
        with:
          node-version: '14'
      - name: Install dependency
        run: yarn install
      - name: Build
        run: yarn build
